@media (max-width: 768px) {
  .gallery-wrapper {
    height: auto; 
    padding: 20px;
    overflow-x: hidden; 
    white-space: nowrap;  
  }

  .gallery {
    width: auto;
    gap: 100px;
  }

  .gallery-image, .gallery-image3 {
    width: 80vw;  
    min-width: 70vw;
    max-width: 90vw;
  }
  .footer-container {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 571px) {
  .h1-header-popup h1{
    font-size: 2em;
  }
}
  @media (max-width: 376px) {
    .container {
        padding: 0px;
      }
      .Scene-canv{
        border-radius: 0px;
      }
    .logo-container{
        width: 200px;
        top: 0px;
        left: 0px;
      }
      .logo-container a{
        font-size: 2em;
      }
      .sidebar-container {
        top: 0%;
      }
      .sidebar nav ul li {
        font-size: 1em;
      }
      .sidebar {
        width: 100% !important;
        height: 100%;
      }
      .close-sidebar{
        position: absolute;
        top: 5%;
        right: 5%;
      }
      .h1-header-popup h1{
        font-size: 2em;
      }
  }